In [1]:
from datetime import datetime as dt
from datetime import datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt  
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, r2_score
from statsmodels.tsa.arima.model import ARIMA

In [2]:
data = pd.read_csv('Philly_weather.csv')  
data.dropna(inplace=True)

In [3]:
data.shape

(44625, 7)

In [4]:
data.head(10)

,datetime,humidity,pressure,temperature,wind-direction,wind-speed,weather-description
1,2012-10-01 13:00:00,71.0,1014.0,285.630000,270.0,4.0,broken clouds
2,2012-10-01 14:00:00,70.0,1014.0,285.663208,270.0,4.0,broken clouds
3,2012-10-01 15:00:00,70.0,1014.0,285.756824,271.0,3.0,broken clouds
4,2012-10-01 16:00:00,69.0,1014.0,285.850440,272.0,3.0,broken clouds
5,2012-10-01 17:00:00,69.0,1014.0,285.944057,274.0,3.0,broken clouds
6,2012-10-01 18:00:00,68.0,1014.0,286.037673,275.0,3.0,broken clouds
7,2012-10-01 19:00:00,68.0,1014.0,286.131290,276.0,3.0,broken clouds
8,2012-10-01 20:00:00,67.0,1014.0,286.224906,277.0,3.0,broken clouds
9,2012-10-01 21:00:00,67.0,1014.0,286.318522,279.0,3.0,broken clouds
10,2012-10-01 22:00:00,66.0,1014.0,286.412139,280.0,3.0,broken clouds

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44625 entries, 1 to 45252
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             44625 non-null  object
 1   humidity             44625 non-null  float64
 2   pressure             44625 non-null  float64
 3   temperature          44625 non-null  float64
 4   wind-direction       44625 non-null  float64
 5   wind-speed           44625 non-null  float64
 6   weather-description  44625 non-null  object
dtypes: float64(5), object(2)
memory usage: 2.7+ MB

In [6]:
data["day"] = pd.to_datetime(data['datetime'], format='%Y-%m-%d').dt.day

In [7]:
data.head(20)

,datetime,humidity,pressure,temperature,wind-direction,wind-speed,weather-description,day
1,2012-10-01 13:00:00,71.0,1014.0,285.630000,270.0,4.0,broken clouds,1
2,2012-10-01 14:00:00,70.0,1014.0,285.663208,270.0,4.0,broken clouds,1
3,2012-10-01 15:00:00,70.0,1014.0,285.756824,271.0,3.0,broken clouds,1
4,2012-10-01 16:00:00,69.0,1014.0,285.850440,272.0,3.0,broken clouds,1
5,2012-10-01 17:00:00,69.0,1014.0,285.944057,274.0,3.0,broken clouds,1
6,2012-10-01 18:00:00,68.0,1014.0,286.037673,275.0,3.0,broken clouds,1
7,2012-10-01 19:00:00,68.0,1014.0,286.131290,276.0,3.0,broken clouds,1
8,2012-10-01 20:00:00,67.0,1014.0,286.224906,277.0,3.0,broken clouds,1
9,2012-10-01 21:00:00,67.0,1014.0,286.318522,279.0,3.0,broken clouds,1
10,2012-10-01 22:00:00,66.0,1014.0,286.412139,280.0,3.0,broken clouds,1
11,2012-10-01 23:00:00,66.0,1014.0,286.505755,281.0,3.0,broken clouds,1
12,2012-10-02 00:00:00,65.0,1014.0,286.599371,282.0,2.0,broken clouds,2
13,2012-10-02 01:00:00,65.0,1014.0,286.692988,283.0,2.0,broken clouds,2
14,2012-10-02 02:00:00,64.0,1014.0,286.786604,285.0,2.0,broken clouds,2
15,2012-10-02 03:00:00,64.0,1014.0,286.880220,286.0,2.0,broken clouds,2
16,2012-10-02 04:00:00,63.0,1014.0,286.973837,287.0,2.0,broken clouds,2
17,2012-10-02 05:00:00,63.0,1014.0,287.067453,288.0,2.0,broken clouds,2
18,2012-10-02 06:00:00,62.0,1014.0,287.161069,290.0,2.0,broken clouds,2
19,2012-10-02 07:00:00,62.0,1014.0,287.254686,291.0,2.0,broken clouds,2
20,2012-10-02 08:00:00,61.0,1014.0,287.348302,292.0,2.0,broken clouds,2

In [49]:
x_train, x_test, y_train, y_test = train_test_split(data, data.temperature)

In [50]:
x_train_date = x_train.datetime
x_test_data = x_test.temperature

In [51]:
print(x_train_date)

28256    2015-12-22 20:00:00
38200    2017-02-09 04:00:00
34652    2016-09-14 08:00:00
696      2012-10-30 12:00:00
37886    2017-01-27 02:00:00
                ...
44862    2017-11-13 18:00:00
16984    2014-09-09 04:00:00
28240    2015-12-22 04:00:00
24512    2015-07-19 20:00:00
32264    2016-06-06 20:00:00
Name: datetime, Length: 33468, dtype: object

In [52]:
x_train

,datetime,humidity,pressure,temperature,wind-direction,wind-speed,weather-description,day,day_of_year
28256,2015-12-22 20:00:00,87.0,1013.0,287.77,230.0,2.0,mist,22,22
38200,2017-02-09 04:00:00,70.0,1005.0,281.64,50.0,2.0,scattered clouds,9,9
34652,2016-09-14 08:00:00,77.0,1019.0,291.21,230.0,1.0,scattered clouds,14,14
696,2012-10-30 12:00:00,81.0,992.0,283.93,350.0,11.0,mist,30,30
37886,2017-01-27 02:00:00,56.0,1001.0,279.77,280.0,6.0,overcast clouds,27,27
...,...,...,...,...,...,...,...,...,...
44862,2017-11-13 18:00:00,100.0,1025.0,278.47,10.0,3.0,light rain,13,13
16984,2014-09-09 04:00:00,66.0,1037.0,291.85,78.0,2.0,few clouds,9,9
28240,2015-12-22 04:00:00,76.0,1019.0,284.73,220.0,5.0,scattered clouds,22,22
24512,2015-07-19 20:00:00,50.0,1010.0,306.26,230.0,5.0,light rain,19,19
32264,2016-06-06 20:00:00,37.0,1005.0,301.46,240.0,5.0,scattered clouds,6,6

In [53]:
x_train = x_train.drop(["datetime", "temperature", "day_of_year", "weather-description"], axis = 1)

In [61]:
x_test = x_test.drop(["datetime", "temperature", "day_of_year", "weather-description"], axis = 1)

In [62]:
x_train

       humidity  pressure  wind-direction  wind-speed  day
28256      87.0    1013.0           230.0         2.0   22
38200      70.0    1005.0            50.0         2.0    9
34652      77.0    1019.0           230.0         1.0   14
696        81.0     992.0           350.0        11.0   30
37886      56.0    1001.0           280.0         6.0   27
...         ...       ...             ...         ...  ...
44862     100.0    1025.0            10.0         3.0   13
16984      66.0    1037.0            78.0         2.0    9
28240      76.0    1019.0           220.0         5.0   22
24512      50.0    1010.0           230.0         5.0   19
32264      37.0    1005.0           240.0         5.0    6

[33468 rows x 5 columns]

In [63]:
regr = LinearRegression()
#regr.fit(np.array(x_train).reshape(-1,1), y_train)
regr.fit(x_train, y_train)

LinearRegression()

In [66]:
#preds = regr.predict(np.array(x_test).reshape(-1,1))
preds = regr.predict(x_test)

In [69]:
print(regr.score(x_test, y_test))

0.1369402661253406

In [70]:
print(regr.score(x_train, y_train))

0.12416938613568074

In [71]:
y_test.head(20)

13531    276.320000
1204     280.790000
25746    294.940000
37814    276.160000
27026    286.702989
30053    275.914156
31071    284.860000
17179    281.599667
40938    285.300000
35982    291.220000
16158    302.920000
18745    269.235333
26856    286.545500
16090    294.245667
40739    289.790000
26737    280.815740
21195    265.260500
3577     272.930000
20470    263.100667
23146    288.898333
Name: temperature, dtype: float64

In [72]:
y_train.head(20)

28256    287.770000
38200    281.640000
34652    291.210000
696      283.930000
37886    279.770000
3294     279.585000
34137    299.930000
42012    298.980000
30594    281.730000
27864    270.330267
12236    277.800000
2022     279.480000
10902    278.690000
24504    297.950000
30127    297.489815
20377    265.717333
38706    289.290000
23703    297.855000
38179    282.940000
1205     282.680000
Name: temperature, dtype: float64

In [73]:
preds

array([280.21411241, 281.54167241, 286.98943148, ..., 282.66866673,
       287.74510667, 283.14042558])

In [74]:
residuals = preds - y_test

In [75]:
#plt.hist(residuals)

In [76]:
data['day_of_year'] = data.day
plt.scatter(data['day_of_year'], data.temperature)
#plt.plot(data['day_of_year'], preds, color='red')

In [77]:
plt.scatter(datetime, data.temperature, color = "red")
plt.title("Temperature Over Time")
plt.xlabel("Day")
plt.ylabel("Temp")
plt.show()

ValueError: x and y must be the same size

In [24]:
data.reshape(-1, 1)

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [21]:
score = regr.score(data.day, data.temperature)
r2 = r2_score(y, predictions)

print(f"Score: {score}, r2: {r2}")

ValueError: Expected 2D array, got 1D array instead:
array=[ 1  1  1 ... 29 29 30].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.